.owl-item a img {
	height: 425px;
	width: auto;
	border: 1px solid gray;
	display: block;
	margin: 0px auto;
}

.owl-wrapper .owl-item {
	padding: 10px 10px 0px 10px;
}

.owl-item a h3, h4 {
	text-align: center;
	font-weight: 300;
	margin: 5px 0px;
	color: black;
}

.owl-item a h4 {
	margin: 0px;
}
